.button {
  background-color: rgba(255, 255, 255, 0.877);
  border-radius: 8px;
  border-width: 0;
  color: #080808;
  cursor: pointer;
  display: block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-top: 20px;
  padding: 5px 12px;
  text-align: center;
  transition: all 200ms;
  width: max-content;
}

.button:hover {
    background-color: #a5a5a54d;
}

.flex-container{
    display: flex;
    padding: 20vh;
    flex-direction: column;
    justify-content: center;
    
}

body{
    background: #080808;
    
}

#content{


    color:rgba(255, 255, 255, 0.877);
    font-family: "Courier New", monospace;
    
}

b{
    color:rgb(255, 0, 0);
}


#name-input{
width: 40%;
height: 36px;
border-radius: 8px;
border-width: 0;
padding-left: 12px;
font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
font-weight: normal;
border: 1px solid rgb(137, 151, 155);
margin-left: 10px;
outline: none;
color: rgb(33, 49, 60);
background-color: rgba(255, 255, 255, 0.877);
padding-right: 12px;
}

input[type="radio"] {
    accent-color: black;
    margin-top: 10px;
  }

span{
    color:rgba(255, 0, 0, 0.877);
}
  